<nav
  class="w-full fixed top-0 bg-white bg-opacity-10 backdrop-blur-sm text-white"
>
  <div
    class="max-w-[1280px] flex items-center justify-between mx-auto py-4 px-10"
  >
    <a routerLink="">
      <img src="../../assets/mizule-white.png" alt="Mizule" class="w-28" />
    </a>
    <ul class="flex uppercase items-center">
      <li class="mx-1">
        <a href="" class="p-1 walk-through relative active">Walk through</a>
      </li>
      <li class="mx-1">
        <a href="career" class="p-1">Career</a>
      </li>
      <li class="mx-1">
        <a href="Career" class="p-1">Help</a>
      </li>
      <li
        class="mx-1 p-1 bg-gradient-to-tr from-[#BF1363] to-[#0F62BA] rounded-md shadow-md"
      >
        <a href="signup" class="p-1">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
