<section
  class="relative w-full flex items-center justify-center text-center sm:text-left"
>
  <div class="relative w-4/5">
    <h1 class="text-white text-4xl mb-4">ZULE</h1>
    <p class="text-gray-300 text-justify">
      Zule is a new form of videography that is gaining popularity among artists
      and filmmakers. It combines elements of traditional filmmaking with modern
      technology to create unique visual experiences. Zule allows an artist to
      express their creativity in a way that has never been seen before. It is a
      combination of different techniques such as stop motion, time-lapse, and
      drone videography.
    </p>
    <h1 class="text-white text-4xl mb-4 mt-16">ZULIST</h1>
    <p class="text-gray-300 text-justify">
      Zulists can show off their talent and creativity, creating amazing visuals
      that are sure to impress. Furthermore, Zule allows for endless
      possibilities when it comes to creating one-of-a-kind pieces of art. With
      Zule, Zulists can share their work with others and have it seen by a wide
      audience. It's the perfect way for creatives to showcase their skills and
      express themselves in the digital world.
    </p>
  </div>
</section>
