<main class="w-full h-screen flex-col md:flex-row flex items-center justify-center">
  <div class="w-4/5 sm:w-4/6 md:mr-14 md:max-w-[450px] text-center">
    <h1 class="text-white text-4xl sm:text-5xl mb-4 md:ml-2">MIZULE</h1>
    <h2 class="text-white text-2xl sm:text-2xl md:ml-2 uppercase">
      Zuling platform for <br />
      zuled creativity
    </h2>
    <p class="text-gray-300 mt-6 md:ml-2 text-justify">
      Mizule is an amazing platform that allows Zulists to showcase their
      creative talent and create stunning visuals that will surely wow any
      audience.
    </p>
    <p class="text-gray-300 mt-7 md:ml-2">Get Mizule from</p>

    <div class="flex items-center justify-center">
      <a href="#">
        <img
          src="../../../../assets/playstore.png"
          alt="playstore"
          class="w-[8rem] md:w-[10rem]"
        />
      </a>
      <a href="#">
        <img
          src="../../../../assets/appstore.svg"
          alt="appstore"
          class="w-32"
        />
      </a>
    </div>
  </div>
  <img
    src="../../../../assets/landing-page/hero.png"
    alt="mizule"
    class="w-56 hidden md:block"
  />
</main>
